.idea
__pycache__
*.safetensors
*.egg-info
venv
build
datasets
models
smac3/logs

!scripts/datasets
!scripts/models
!iter/datasets

# Project specific files
*.zip
cfg/ade_split*.json
cfg/ade/*_split*.json
